<section id="header">
  <div class="inner flex flex-col items-center justify-center">
    <span class="flex justify-center">
      <a href="/docs/welcome">
        <img
          src="/assets/images/code2prompt.webp"
          alt="Code2Prompt Logo"
          style="height: 300px;"
          class="mx-auto"
        />
      </a>
    </span>
    <h1><strong>Code2Prompt</strong></h1>
    <p>Transform Your Code into AI-Optimized Prompts in Seconds</p>
  </div>
  <div class="flex justify-center gap-4 flex-wrap">
    <a href="/docs/welcome" class="button">Documentation</a>
    <ul class="actions special">
      <li><a href="#one" class="button">Discover</a></li>
    </ul>
  </div>
</section>
