<!-- <nav class="bg-gray-900 text-white py-4 sticky top-0 z-50 shadow-md">
  <div class="container mx-auto px-4 flex justify-between items-center">
    <a href="/" class="flex items-center">
      <img src="src/assets/logo_light_v0.0.1.svg" alt="Logo" class="h-8 mr-3" />
      <span class="font-bold text-xl">Code2Prompt</span>
    </a>
    <div class="hidden md:flex space-x-6">
      <a href="/docs/welcome" class="hover:text-blue-300 transition"
        >Documentation</a
      >
      <a
        href="https://github.com/mufeedvh/code2prompt"
        class="hover:text-blue-300 transition">GitHub</a
      >
    </div>
    <button class="md:hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>
</nav> -->
<section
  id="header"
  class="w-full bg-gradient-to-b from-gray-900 to-blue-900 text-white py-16 min-h-[100vh]"
>
  <div class="flex flex-col items-center justify-center p-8">
    <span class="flex justify-center">
      <a href="/docs/welcome">
        <img
          src="src/assets/logo_light_v0.0.1.svg"
          alt="Code2Prompt Logo"
          class="h-[180px] mx-auto"
        />
      </a>
    </span>
    <h1 class="text-4xl font-bold mt-6 mb-2">Code2Prompt</h1>
    <p class="text-xl text-center mt-2 mb-8 max-w-2xl">
      Transform Your Code into AI-Optimized Prompts in Seconds
    </p>

    <div class="flex gap-4 flex-wrap">
      <a href="/docs/welcome">
        <button
          class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg shadow-lg hover:shadow-xl transition duration-200"
        >
          Documentation
        </button>
      </a>
      <a href="/docs/how_to/install">
        <button
          class="bg-gray-700 hover:bg-gray-800 text-white font-bold py-3 px-6 rounded-lg shadow-lg hover:shadow-xl transition duration-200"
        >
          Installation
        </button>
      </a>
    </div>
  </div>
</section>
