<section id="two" class="main style2">
    <div class="container">
      <header class="major">
        <h2>CLI & SDK</h2>
      </header>
      <p class="row">Code2Prompt provides both a command-line interface and a Python SDK for full flexibility.</p>
      <div class="row" style="margin: 2em 0;">
        <div class="custom-flex-col col-6 col-12-medium pl0">
          <div class="cust-h img-box">
            <img class="overlay-image" src="/assets/images/CLI.png" alt="CLI" />
          </div>
          <div class="custom-flex-col content-evenly">
            <h3 class="m0">CLI</h3>
            <p>Easily generate structured prompts from the terminal.</p>
            <br />
            <a href="docs/cli/welcome" class="button">More</a>
          </div>
        </div>
        <div class="custom-flex-col col-6 col-12-medium pr0">
          <div class="cust-h img-box">
            <img class="overlay-image" src="/assets/images/SDK.png" alt="SDK" />
          </div>
          <div class="custom-flex-col content-evenly">
            <h3 class="m0">Python SDK</h3>
            <p>Integrate Code2Prompt into Python applications for advanced automation.</p>

            <a href="docs/sdk/welcome" class="button">More</a>

          </div>
        </div>
      </div>
    </div>
  </section>
  