<section id="one" class="main style1">
    <div class="container">
      <div class="row gtr-150">
        <div class="col-4 col-12-medium">
          <header class="major">
            <h2>Use Cases</h2>
          </header>
          <p>Code2Prompt simplifies code ingestion, turning your codebase into structured prompts for AI and automation.</p>
          <p>It introduces a new development workflow, enabling AI and human agents to interact with code efficiently.</p>
        </div>
        <div class="col-8 col-12-medium imp-medium">
          <div class="image-container">
            <div class="overlay">
              <code id="code-block">code2prompt . --include "*.js,*.html" --exclude "node_modules/"</code>
              <button onclick="copyToClipboard()">
                <i class="fa fa-clipboard" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="scroller" data-speed="slow">
        <ul class="tag-list scroller__inner">
            <li>Code it</li>
            <li>Parse it</li>
            <li>Extract it</li>
            <li>Format it</li>
            <li>Analyze it</li>
            <li>Optimize it</li>
            <li>Rewrite it</li>
            <li>Summarize it</li>
            <li>Filter it</li>
            <li>Search it</li>
            <li>Sort it</li>
            <li>Query it</li>
            <li>Compare it</li>
            <li>Deploy it</li>
            <li>Debug it</li>
            <li>Refactor it</li>
            <li>Automate it</li>
            <li>Run it</li>
            <li>Monitor it</li>
            <li>Test it</li>
            <li>Track it</li>
            <li>Patch it</li>
            <li>Secure it</li>
            <li>Train it</li>
            <li>Validate it</li>
            <li>Package it</li>
            <li>Upgrade it</li>
            <li>Integrate it</li>
            <li>Unlock it</li>
        </ul>
    </div>
    <div class="scroller" data-direction="right" data-speed="fast">
        <div class="scroller__inner">
            <img class="img-scroll" src="/assets/images/Ollama.svg" alt="LLaMA">
            <img class="img-scroll" src="/assets/images/Groq.svg" alt="Grok">
            <img class="img-scroll" src="/assets/images/Qwen.svg" alt="Qwen">
            <img class="img-scroll" src="/assets/images/Mistral.svg" alt="Mistral">
            <img class="img-scroll" src="/assets/images/Deepseek.svg" alt="DeepSeek">
            <img class="img-scroll" src="/assets/images/Gemini.svg" alt="Gemini">
            <img class="img-scroll" src="/assets/images/OpenAI.svg" alt="GPT">
            <img class="img-scroll" src="/assets/images/Claude.svg" alt="Claude">
        </div>
    </div>
    </div>
  </section>
  