<section id="four" class="main style2 special">
    <div class="container">
      <header class="major">
        <h2>Join the Community</h2>
      </header>
      <p>Code2Prompt is built by and for developers. Contribute, suggest features, and help shape the future of AI-driven code analysis.</p>
      <ul class="actions special">
        <li><a href="https://github.com/mufeedvh/code2prompt" class="button wide primary">Contribute on GitHub</a></li>
        <li><a href="https://discord.gg/ZZyBbsHTwH" class="button wide">Join our Discord</a></li>
      </ul>
    </div>
  </section>
  