<section id="two" class="main style2 py-12 bg-gray-50">
  <div class="container mx-auto px-4">
    <header class="major text-center mb-8">
      <h2 class="text-3xl font-bold">Interfaces</h2>
    </header>
    <p class="text-center text-lg mx-auto mb-12">
      Code2Prompt provides a command-line interface a Python SDK, and a MCP
      server for full flexibility.
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">
      <div class="p-2">
        <div
          class="shadow-xl rounded-lg overflow-hidden hover:shadow-2xl transition-shadow duration-300 border border-gray-100"
        >
          <img class="w-full" src="src/assets/CLI.png" alt="CLI" />
          <div class="p-6">
            <h3 class="text-xl font-bold mb-3">CLI</h3>
            <p class="mb-5 text-gray-600">
              Easily generate structured prompts from the terminal.
            </p>
          </div>
        </div>
      </div>
      <div class="p-2">
        <div
          class="shadow-xl rounded-lg overflow-hidden hover:shadow-2xl transition-shadow duration-300 border border-gray-100"
        >
          <img class="w-full" src="src/assets/SDK.png" alt="SDK" />
          <div class="p-6">
            <h3 class="text-xl font-bold mb-3">Python SDK</h3>
            <p class="mb-5 text-gray-600">
              Integrate Code2Prompt into Python applications for advanced
              automation.
            </p>
          </div>
        </div>
      </div>
      <div class="p-2">
        <div
          class="shadow-xl rounded-lg overflow-hidden hover:shadow-2xl transition-shadow duration-300 border border-gray-100"
        >
          <img class="w-full" src="src/assets/MCP.png" alt="MCP" />
          <div class="p-6">
            <h3 class="text-xl font-bold mb-3">MCP</h3>
            <p class="mb-5 text-gray-600">
              Model Context Protocol for seamless integration.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
