<section id="two" class="main style2">
    <div class="container">
      <header class="major">
        <h2>CLI & SDK</h2>
      </header>
      <p>Code2Prompt provides both a command-line interface and a Python SDK for full flexibility.</p>
      <div class="row gtr-150">
        <div class="col-6 col-12-medium">
          <img class="overlay-image" src="/assets/images/CLI.png" alt="CLI" />
          <h3>CLI</h3>
          <p>Easily generate structured prompts from the terminal.</p>
          <ul class="actions special">
            <li><a href="docs/cli/welcome" class="button">More</a></li>
          </ul>
        </div>
        <div class="col-6 col-12-medium">
          <img class="overlay-image" src="/assets/images/SDK.png" alt="SDK" />
          <h3>Python SDK</h3>
          <p>Integrate Code2Prompt into Python applications for advanced automation.</p>
          <ul class="actions special">
            <li><a href="docs/sdk/welcome" class="button">More</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  